* {
    box-sizing: border-box;
}

html, 
body {
    --border-radius: 80px;
    --blue:  #1c47ff;
    --blue2:  #6273c2;
    --pink:  #d6a3fb;
    --green: #d0ff94;
    --gray:  #e5e5e5;
    --white: #f1efe8;
    --Mostaza: #f1d060;
    --Mostaza2: #dac47f;
    --blanco: #ffffff;
    --gutter: 3.125px 6.25vw;

    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    color: #ddaf18;
    font-size: 25px;
    margin: 0px;
}

a {
    font-size: 12px;
    color: #f1e0a5;
    text-decoration: none;
}

p {
    font-size: 20px;
    color: var(--blanco);
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2
}

section.stiky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}
/* Navegation */

nav {

    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

nav ul li {
    
    list-style: none;
    margin-left: 45px;

}

nav ul li a {

    color: #ddaf18; 
    font-family: 'Space Mono', monospace;
    font-size: 25px;

}


/* abuot section */


section.about .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 37.5vw;
    background: var(--green);
    border-radius: var(--border-radius);
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);

}

section.about figure img  {
    width: 60%; 
    
}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--blue2);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);
}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--Mostaza2);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    color: #000000;
}




/* service section */


section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: var(--Mostaza);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);
}

section.service figure img  {
    width: 70%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1f1a1c;
    padding: var(--gutter);
    border-radius: var(--border-radius);
}

section.service .text a {
    font-family: 'Space Mono', monospace;
}




/* service section animations */

section.service.service-Collaboration figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

section.service.service-PDS figure img {
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

section.service.service-SS figure img {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}


@keyframes scale {
    0% {
        transform: scale(.75);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* service section overrides */

section.about.about-graphix figure {
    background: var(--white);
}

section.service.service-Collaboration figure {
    background: var(--white);
}

section.service.service-Collaboration .text h2
 {
    color: var(--Mostaza2);
}

section.service.service-Collaboration .text a {
    color: var(--Mostaza2);
}

section.service.service-PDS figure {
    background: var(--Mostaza2);
}

section.service.service-PDS .text h2,
section.service.service-PDS .text a {
    color: var(--Mostaza2);
}

section.service.service-SS figure {
    background: var(--gray);
}

section.service.service-SS .text h2,
section.service.service-SS .text a {
    color: var(--Mostaza2);
}

/* contact section */


section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--blue) 5%, var(--green) 50%, var(--pink), var(--gray));
    border-radius: var(--border-radius);
    mix-blend-mode: difference;
    
}

section.contact a {
    font-size: 60px;
    color: #000000;
    font-weight: bold;
    transition: filter 2s cubic-bezier(.84,.31,.44,.96);
    will-change: filter;
}

section.contact a:hover {
    filter: blur(20px);
}

/*Responsive*/
 
@media only screen and (max-width: 768px) {
    html, body {
        --border-radious: 50px;
        --gutter: 6.25vw;
    }
    
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    nav ul li {
        margin-left: 20px;
    }

    section.service article {
        flex-direction: column;
        
    }

    section.service figure {
        flex-basis: 40vh;
        
    
    }

    section.service figure img {
        width: 50%;
    }

    section.contact a {
        font-size: 35px;
        transform: rotate(90deg);
    }
}