* {
    box-sizing: border-box;
}

html, body {
    --border-radius: 50px;
    --blue:  #1c47ff;
    --pink:  #d6a3fb;
    --green: #d0ff94;
    --gray:  #e5e5e5;
    --gutter: 3.125px 6.25vw;

    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 1em;
    margin: 0px;
}

h2 {
    font-size: 40px;
    margin: 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2
}

section.stiky {
    position: sticky;
    margin-top: 100px;
}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}
/* Navegation */

nav {

    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
}

nav ul {

    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

nav ul li {
    
    list-style: none;
    margin-left: 45px;

}

nav ul li a {

    color: #ffffff; 
    font-family: 'Space Mono', monospace;

}


/* abuot section */

section.about .figure figure {
    flex-basis: 37.5vw;
    background: var(--green);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);

}

section.about article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section.about article .title {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--blue);
    border-radius: var(--border-radius);
    padding: var(--gutter);
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);
}

section.about article .description {
    flex: 1;
    display: flex;
    align-items: center;
    background: var(--pink);
    border-radius: var(--border-radius);
    padding: 3.125vw;
    color: #000000;
}




/* service section */


section.service article {
    display: flex;
    width: 100%;
}

section.service figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background: rgb(197, 186, 30);
    border-radius: var(--border-radius);
    max-width: 62.5vw;
    transition: flex-basis 1s cubic-bezier(0,.9,.38,.99);
}

section.service figure img  {
    width: 70%;
}

section.service .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background: #1f1a1c;
    padding: 3.125vw;
    border-radius: var(--border-radius);
}

section.service .text a {
    font-family: 'Space Mono', monospace;
}

/* service section animations */

section.service.service-HTML figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

section.service.service-CSS figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

section.service.service-JS figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.84,.31,.44,.96);
}

@keyframes float {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}

/* service section overrides */

section.service.service-html figure {
    background: var(--green);
}

section.service.service-html .text h2,
section.service.service-html .text a {
    color: var(--pink);
}

section.service.service-css figure {
    background: var(--blue);
}

section.service.service-css .text h2,
section.service.service-css .text a {
    color: var(--green);
}

section.service.service-js figure {
    background: var(--pink);
}

section.service.service-js .css h2,
section.service.service-js .css a {
    color: var(--blue);
}

/* contact section */


section.contact {
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--blue) 5%, var(--green) 50%, var(--pink), var(--gray));
    border-radius: var(--border-radius);
    mix-blend-mode: difference;
    
}

section.contact a {
    font-size: 80px;
    color: #000000;
    font-weight: bold;
    transition: filter 2s cubic-bezier(.84,.31,.44,.96);
    will-change: filter;
}

section.contact a:hover {
    filter: blur(20px);
}

/*Responsive*/
 
@media only screen and (max-width: 768px) {
    html, body {
        background: red;
        --gutter: 6.25vw;
    }
    
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    nav ul li {
        margin-left: 25px;
    }

    section.service article {
        flex-direction: column;
        
    }

    section.service figure {
        flex-basis: 25vh;
        
    
    }

    section.service figure img {
        width: 20%;
    }

    section.contact a{
        font-size: 20px;
        
    }
}